pre { line-height: 125%; }
td.linenos pre { color: #000000; background-color: #f0f0f0; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #000000; background-color: #f0f0f0; padding-left: 5px; padding-right: 5px; }
td.linenos pre.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hll { background-color: #ffffcc }
.c { color: #555555 } /* Comment */
.k { color: #62583e } /* Keyword */
.o { color: #555555 } /* Operator */
.ch { color: #555555 } /* Comment.Hashbang */
.cm { color: #555555 } /* Comment.Multiline */
.cp { color: #555555 } /* Comment.Preproc */
.cpf { color: #555555 } /* Comment.PreprocFile */
.c1 { color: #555555 } /* Comment.Single */
.cs { color: #555555 } /* Comment.Special */
.kc { color: #B4B03D; font-weight: bold } /* Keyword.Constant */
.kd { color: #62583e } /* Keyword.Declaration */
.kn { color: #62583e } /* Keyword.Namespace */
.kp { color: #62583e } /* Keyword.Pseudo */
.kr { color: #62583e } /* Keyword.Reserved */
.kt { color: #62583e } /* Keyword.Type */
.m { color: #B4B03D } /* Literal.Number */
.s { color: #B4B03D } /* Literal.String */
.nb { color: #999999; font-weight: bold } /* Name.Builtin */
.nf { color: #6C757A; font-style: italic } /* Name.Function */
.ow { color: #ac8854 } /* Operator.Word */
.mb { color: #B4B03D } /* Literal.Number.Bin */
.mf { color: #B4B03D } /* Literal.Number.Float */
.mh { color: #B4B03D } /* Literal.Number.Hex */
.mi { color: #B4B03D } /* Literal.Number.Integer */
.mo { color: #B4B03D } /* Literal.Number.Oct */
.sa { color: #B4B03D } /* Literal.String.Affix */
.sb { color: #B4B03D } /* Literal.String.Backtick */
.sc { color: #B4B03D } /* Literal.String.Char */
.dl { color: #B4B03D } /* Literal.String.Delimiter */
.sd { color: #B4B03D } /* Literal.String.Doc */
.s2 { color: #B4B03D } /* Literal.String.Double */
.se { color: #B4B03D } /* Literal.String.Escape */
.sh { color: #B4B03D } /* Literal.String.Heredoc */
.si { color: #B4B03D } /* Literal.String.Interpol */
.sx { color: #B4B03D } /* Literal.String.Other */
.sr { color: #B4B03D } /* Literal.String.Regex */
.s1 { color: #B4B03D } /* Literal.String.Single */
.ss { color: #B4B03D } /* Literal.String.Symbol */
.bp { color: #999999; font-weight: bold } /* Name.Builtin.Pseudo */
.fm { color: #6C757A; font-weight: bold; font-style: italic } /* Name.Function.Magic */
.il { color: #B4B03D } /* Literal.Number.Integer.Long */